## Aim of This notebook 

The aim of this notebook is to create two shape file from the tables that we have already in our database.

In [1]:
import pandas as pd
import psycopg2
import credential as  creds

## Connect to the Database

In [4]:
# connect to our credentioal file
conn_string = "host=" + creds.PGHOST + " port=" + creds.PORT + " dbname=" + creds.PGDATABASE + " user=" + creds.PGUSER \
    + " password=" + creds.PGPASSWORD

In [5]:
conn = psycopg2.connect(conn_string)

## Read the table from database

In this step, we need to read the messstelle table which is already in our database to the pandas dataframe.

In [4]:
quary = """ select * from sina.messstelle """

In [5]:
df = pd.read_sql(quary, conn,)

## Drop the geom column

The table has "geom" column which consist of the geometry information from e32 and n32 columns but we need to delete this column and create this column with another format which can be transfered to geopandas datafarme.

In [6]:
df.drop('geom', axis = 1, inplace = True)

## Essentioanl packages which need for geopandas dataframe

In [7]:
import geopandas as gpd
from shapely.geometry import Point

## Create geodata frame

with the helpf of geopandas we can create geo pandas dataframe. in here simply we can create the geometry column again but with another method.

In [8]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.e32, df.n32), crs="EPSG:25832")

In [9]:
gdf

,sl_nr,messstelle_id,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,...,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm,geometry
0,55441,26001731,Br 4 Mohn Mdk,459350,5750750,NaN,privat,05754008,None,None,...,MOHN media Mohndruck GmbH ...,MOHN media Mohndruck GmbH ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (459350.000 5750750.000)
1,55734,24181572,1T ASP Weberberg,482746,5729701,1.0,oeffentlich,05774032,None,None,...,"Stadt Paderborn, Eigenbetrieb ASP, STEB ...","Stadt Paderborn, Eigenbetrieb ASP, STEB ...",1000.0,NaN,115.0,NaN,2000.0,10349.0,9349.0,POINT (482746.000 5729701.000)
2,56667,23164591,61 Delbrueck,473601,5735450,NaN,oeffentlich,05774020,None,None,...,"Stadt Delbrueck, WW Ostenland ...","Stadt Delbrueck, WW Ostenland ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (473601.000 5735450.000)
3,6617,31020252,SOLINGEN LANDW 805,359404,5666406,1.0,privat,05158020,None,None,...,None,None,NaN,NaN,NaN,NaN,635.0,7505.0,7505.0,POINT (359404.000 5666406.000)
4,56660,23092403,100 FP Sudheide,452041,5747681,NaN,privat,05754028,None,None,...,"Stw Guetersloh, WW Sudheide ...","Stw Guetersloh, WW Sudheide ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (452041.000 5747681.000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71114,49873,20753410,2 Poembsen,505523,5736923,1.0,oeffentlich,05762004,None,None,...,Stadtwerke Bad Driburg ...,Land NRW ...,1000.0,0.0,115.0,NaN,4080.0,21792.0,20792.0,POINT (505523.000 5736923.000)
71115,51302,20786013,28 Bokel,452027,5764346,NaN,privat,05754012,None,None,...,"TWO Halle, WW Bokel ...","TWO Halle, WW Bokel ...",NaN,NaN,NaN,NaN,120.0,8117.0,8117.0,POINT (452027.000 5764346.000)
71116,51448,23094734,206 Quenhorn,449821,5751964,1.0,privat,05754020,None,None,...,"Stw Guetersloh, WW Quenhorn ...","Stw Guetersloh, WW Quenhorn ...",1700.0,NaN,50.0,NaN,1900.0,6464.0,4764.0,POINT (449821.000 5751964.000)
71117,65122,21661418,HG-6,525985,5731885,1.0,privat,05762020,None,None,...,Stadt Hoexter ...,Stadt Hoexter ...,NaN,NaN,NaN,NaN,1110.0,8158.0,8158.0,POINT (525985.000 5731885.000)
71118,52489,20786645,37T neu Bokel,453065,5764632,1.0,privat,05754012,None,None,...,"TWO Halle, WW Bokel ...","TWO Halle, WW Bokel ...",1800.0,NaN,115.0,NaN,2524.0,7822.0,6022.0,POINT (453065.000 5764632.000)

## Create the path of output

In [24]:
data_in_dir = r"../data/shape_file/"

file_fname = r"messstelle_local.gpkg"

file_pfname = data_in_dir + file_fname

## Create the shape file in the above path

In [12]:


gdf.to_file(file_pfname, layer='messstelle_local', driver="GPKG")

## Second shape file.
Now we want to create the second shape file.

* This shape file is a little bit complex than the previous one

## Read the table from Database

We don't want all the rows in messwert table, we want only nitrate and the nitrate stoff number is 1244

In [10]:
quary2 = """ select * from sina.messwert where stoff_nr = '1313' """

In [11]:
df1 = pd.read_sql(quary2, conn,)

In [13]:
df1

,sl_nr,messstelle_id,pna_id,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
0,12029649,73529217,0/2018/91020,2018-09-27,1313,Grundwasser,38.0,None,5.0,mg/l,Gesamtgehalt,DIN ISO 15923-1 - DI - D49 - 1,,LIMS_LANUV,2019-02-02,2019-02-03,=
1,17464902,70009466,0/2021/1,2021-03-17,1313,Grundwasser,4.4,None,NaN,mg/l,Gesamtgehalt,DIN EN ISO 10304-1 (2009),,HYGRISC_1,2021-06-01,2021-06-01,=
2,17470654,289002710,0/2021/1,2021-02-04,1313,Grundwasser,128.0,None,NaN,mg/l,Gesamtgehalt,nach Laborjournal,,HYGRISC_1,2021-06-02,2021-06-02,=
3,17472436,288067411,0/2021/1,2021-02-23,1313,Grundwasser,181.0,None,NaN,mg/l,Gesamtgehalt,nach Laborjournal,,HYGRISC_1,2021-06-02,2021-06-02,=
4,17472762,80302798,0/2021/1,2021-02-24,1313,Grundwasser,71.0,None,NaN,mg/l,Gesamtgehalt,nach Laborjournal,,HYGRISC_1,2021-06-02,2021-06-02,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72079,12133087,289095013,3/2014/92795,2014-12-01,1313,Grundwasser,86.7,None,NaN,mg/l,Gesamtgehalt,None,,HYGC_LANUV,2019-02-18,2019-02-18,=
72080,12133174,289095013,3/2016/92854,2016-05-30,1313,Grundwasser,77.5,None,NaN,mg/l,Gesamtgehalt,None,,HYGC_LANUV,2019-02-18,2019-02-18,=
72081,12134737,219600910,7/2012/92580,2012-09-26,1313,Grundwasser,145.0,None,NaN,mg/l,Gesamtgehalt,None,,HYGC_LANUV,2019-02-18,2019-02-18,=
72082,12140562,278543418,7/2018/91396,2018-08-30,1313,Grundwasser,2530.0,None,NaN,mg/l,Gesamtgehalt,None,,HYGC_LANUV,2019-02-18,2019-02-18,=
72083,16308342,94160090,5/2019/8,2019-09-18,1313,Grundwasser,26.0,None,NaN,mg/l,Gesamtgehalt,Keine Angabe,,HYGRISC_5,2020-07-10,2020-07-10,=

## Merge the data

In [14]:
df1_n = df1[[ 'messstelle_id', 'datum_pn', 'stoff_nr', 'messergebnis_c', 'messergebnis_hinweis', 'messergebnis_cm']]

In [15]:
gdf_n = gdf[['messstelle_id', 'name', 'gemeinde_id', 'geometry' ]]

In [16]:
df_merg = pd.merge(df1_n, gdf_n, on = ['messstelle_id'])

In [17]:
df_merg

,messstelle_id,datum_pn,stoff_nr,messergebnis_c,messergebnis_hinweis,messergebnis_cm,name,gemeinde_id,geometry
0,73529217,2018-09-27,1313,38.0,None,=,GEM. ALFTER 6,05382004,POINT (360098.000 5615609.000)
1,73529217,2007-06-28,1313,53.6,None,=,GEM. ALFTER 6,05382004,POINT (360098.000 5615609.000)
2,73529217,2007-10-01,1313,54.8,None,=,GEM. ALFTER 6,05382004,POINT (360098.000 5615609.000)
3,73529217,2010-07-02,1313,51.1,None,=,GEM. ALFTER 6,05382004,POINT (360098.000 5615609.000)
4,73529217,2009-07-28,1313,51.3,None,=,GEM. ALFTER 6,05382004,POINT (360098.000 5615609.000)
...,...,...,...,...,...,...,...,...,...
72079,80201260,1997-08-12,1313,34.0,None,=,HINSBECK HAAK 0074B,05166016,POINT (309212.000 5689737.000)
72080,106530331,1999-05-11,1313,53.0,None,=,"BS 2 ML -04,50 NIE",05766008,POINT (483550.000 5765850.000)
72081,26167220,2008-04-24,1313,36.0,None,=,H 2 KIESA-Boke,05774020,POINT (466080.000 5730021.000)
72082,110000262,2018-07-09,1313,150.0,None,=,LGD Oelde 04,05570028,POINT (439169.000 5744206.000)
72083,110000146,2017-11-06,1313,190.0,None,=,LGD Senden 03,05558044,POINT (395117.000 5746065.000)

## change the type of "datum_pn" to datetime

In [18]:
df_merg['datum_pn'] = pd.to_datetime(df_merg['datum_pn'], format = '%Y-%m-%d')

In [19]:
df_merg.dtypes

messstelle_id                    int64
datum_pn                datetime64[ns]
stoff_nr                         int64
messergebnis_c                 float64
messergebnis_hinweis            object
messergebnis_cm                 object
name                            object
gemeinde_id                     object
geometry                      geometry
dtype: object

## create the geometry column

In [20]:
gdf_merg = gpd.GeoDataFrame(df_merg, geometry= 'geometry', crs="EPSG:25832")

In [21]:
gdf_merg.dtypes

messstelle_id                    int64
datum_pn                datetime64[ns]
stoff_nr                         int64
messergebnis_c                 float64
messergebnis_hinweis            object
messergebnis_cm                 object
name                            object
gemeinde_id                     object
geometry                      geometry
dtype: object

## Path directory for output

In [25]:
file_fname = r"sulfat_local.gpkg"

file_pfname = data_in_dir + file_fname

## Create shape file

In [26]:
gdf_merg.to_file(file_pfname, layer='sulfat_local', driver="GPKG")

# Finish !
## Good Luck, You are doing well